@import url(https://fonts.googleapis.com/css2?family=DotGothic16&display=swap);

h1 {
    font-family: 'DotGothic16', sans-serif;
    font-size: 50px;
}

body {
    background-color: hsla(89, 43%, 51%, 0.3);
    height: 95vh;
    width: 95;
    display: flex;
    justify-content: center; 
    align-items: center; 
    flex-direction: column;
    color: #652ec7;
}

canvas {
   border-width: medium;
   border-style: dotted;
   border-color: #00f;
  }

        
} /*#440BD4
