@font-face {
	font-family:Titulo;
	src:url(../fontes/Chomsky.OTF);
} 

h1 {
    font-family: Titulo;
    color: #483D8B;
    font-size: 40px;
    border-width: medium;
    border-style: groove;
    border-color: #483D8B;
    border-bottom-width: 10px;
    border-right-width: 10px;
    border-left-width: 10px;
}

body {
    background-color: black;
    height: 95vh;
    width: 95;
    display: flex;
    justify-content: center; 
    align-items: center; 
    flex-direction: column;
    color: #2f3b5d;
}

canvas {
        border-width: 6px;
        border-style: dotted;
        border-color: #2f5d51;
        border-style: solid;
        
}
